ASPNetCore/*/bin
ASPNetCore/*/*/bin
ASPNetCore/*/obj
ASPNetCore/*/*/obj
ASPNetCore/.vs
ASPNetCore/UpgradeLog.htm

*.DotSettings.user
*.v12.suo
*.g.cs
*.g.i.cs
*.baml
*.pdb
*.cache
*.lref
*.csproj.user
*.tmp_proj
/.vs
*.v15.suo
